.post {
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  margin-bottom: 35px;
  padding-bottom: 20px;
  position: relative;
  background-size: contain;
  overflow: hidden;

  .post-content-mini {
    .post-title {
      text-decoration: none;
      font-size: 26px;
      font-weight: bold;
      color: #000000;
      margin: 10px 0px;

      h3 {
        margin: 0px;
        margin-top: 20px;
      }
      &:hover {
        color: #8a72fd;
      }
    }
  }

  .post-header {
    box-sizing: border-box;
    padding: 20px;
    z-index: 7;
  }

  .post-header-desc {
    display: flex;

    p {
      padding: 0px;
      margin: 0px;
    }
    a {
      margin-right: 25px;
      text-decoration: none;

      font-size: 14px;
    }
    .author {
      color: #000000;
      font-weight: normal;
    }
    .cat {
      color: #8a72fd;
      font-weight: 500;
    }
  }
  .post-img-container {
    width: 100%;

    img {
      width: 100%;
      height: 320px;
      object-fit: cover;
    }
  }
}
